In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('/content/sample_data/ipl.csv')

In [6]:
df

       mid        date  ... non-striker  total
0        1  2008-04-18  ...         0.0  222.0
1        1  2008-04-18  ...         0.0  222.0
2        1  2008-04-18  ...         0.0  222.0
3        1  2008-04-18  ...         0.0  222.0
4        1  2008-04-18  ...         0.0  222.0
...    ...         ...  ...         ...    ...
17473  142  2010-04-03  ...         3.0  246.0
17474  142  2010-04-03  ...         3.0  246.0
17475  142  2010-04-03  ...         3.0  246.0
17476  142  2010-04-03  ...         3.0  246.0
17477  142  2010-04-03  ...         NaN    NaN

[17478 rows x 15 columns]

In [7]:
df.runs=df.runs.fillna(df.runs.median())
df.wickets=df.wickets.fillna(df.wickets.median())
df.overs=df.overs.fillna(df.overs.median())
df.total=df.total.fillna(df.total.median())
df.striker=df.striker.fillna(df.striker.median())

In [8]:
x= df.iloc[:,[7,8,9,12]].values
y=df.iloc[:,14].values

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [18]:
from sklearn.ensemble import RandomForestRegressor

In [22]:
model=RandomForestRegressor(n_estimators=100)

In [23]:
model.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [25]:
y_pred = model.predict(x_test)
score = model.score(x_test,y_test)*100

In [26]:
def custom_accuracy(y_test,y_pred,thresold):
    right = 0
    l = len(y_pred)
    for i in range(0,l):
        if(abs(y_pred[i]-y_test[i]) <= thresold):
            right += 1
    return ((right/l)*100)

In [27]:
print("R-squared value:" , score)
print("Custom accuracy:" , custom_accuracy(y_test,y_pred,20))

R-squared value: 71.39678498102602
Custom accuracy: 87.5

In [29]:
import numpy as np
new_prediction = model.predict(sc.transform(np.array([[100,0,13,50]])))
print("Prediction score:" , new_prediction)

Prediction score: [196.33]